/* ' * ' is the CSS selector for selecting all elements. */
* {
    margin: 0;
    padding: 0;
    /* Box sizing property includes an elements total width
    and height. By setting the box sizing to border box padding
    and border are included in the width and height. */
    box-sizing: border-box;
}
body {
    background-color: #ccffcc;
}
header {
    text-align: center;
    background-color: #4d2600;
    color: #f1f1f1;
    padding: 50px;
}
header h1 {
    font-size: 48px;
    margin-bottom: 30px;
}
header p {
    font-size: 22px;
}
main {
    /* Set to 90% of viewport width */
    width: 90vw;
    /* set left and right margin to auto */
    margin: 0 auto;
    padding: 30px 20px;
}