/* ' * ' is the CSS selector for selecting all elements. */
* {
    margin: 0;
    padding: 0;
    /* Box sizing property includes an elements total width
    and height. By setting the box sizing to border box padding
    and border are included in the width and height. */
    box-sizing: border-box;
}
body {
    background-color: #ccffcc;
}
header {
    text-align: center;
    background-color: #4d2600;
    color: #f1f1f1;
    padding: 50px;
}
header h1 {
    font-size: 48px;
    margin-bottom: 30px;
}
header p {
    font-size: 22px;
}
main {
    /* Set to 90% of viewport width */
    width: 90vw;
    /* set left and right margin to auto */
    margin: 0 auto;
    padding: 30px 20px;
    /* footer position fix to bottom 
    min height is equal to t 100% viewport heigth minus
    the height of the header and footer elements. */
    min-height: calc(100vh - 211px - 58px);
}
article {
    background-color: #e6ffe6;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
/* last child selector matches every element that is the last 
child of its parent.
The :last-child selector allows you to target the last element
 directly inside its containing element. It is defined in the 
 CSS Selectors Level 3 spec as a “structural pseudo-class”, 
 meaning it is used to style content based on its relationship 
 with parent and sibling content.*/
article:last-child {
    margin-bottom: 0;
}
article h3 {
    margin: 10px 0 25px 0;
}
article p {
    margin-top: 16px;
    line-height: 24px;
}
footer {
    text-align: center;
    background-color: #4d2600;
    color: #f1f1f1;
    padding: 20px;
    /* footer is positioned in the middle of the page, 
    fix in main element */
}